body {
	font: "Raleway", sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background-color: rgba(9, 138, 174, 0.5);
}

h1 {
	font-size: 2em;
	color: (0, 0, 0, 0.4);
}

button {
	border-radius: 18px;
	height: 2em;
	background-color: rgba(9, 138, 174, 0.9);
}